<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>如果看到自己最爱的人熟睡在你面前你会做什么？</string>
	<string>当你最不知道穿什么颜色的时候，你会选择什么颜色？</string>
	<string>今年你最后悔的一件事是什么？</string>
	<string>曾经最被感动的事是什么？</string>
	<string>比较喜欢爸爸还是妈妈？</string>
	<string>你现在最想要的5样东西</string>
	<string>最后一次发自内心的笑是什么时候？</string>
	<string>如果给你一个机会去世界上任何一个地方旅行你会去？</string>
	<string>如果时间能倒流你希望回到哪一时间？</string>
	<string>你心目中理想的爱人是什么样子呢？</string>
	<string>最想实现的三个愿望是什么？</string>
	<string>我在你眼里什么样？</string>
	<string>如果让你拥有一种超能力，你愿意拥有什么呢？</string>
	<string>最喜欢哪部电影？</string>
	<string>与喜欢的人见面，想要穿成什么样？</string>
	<string>你最想选择当做什么职业？</string>
	<string>最喜欢的食物是什么？</string>
	<string>如何向喜欢的人表白？</string>
	<string>如果你爱的人不爱你怎么办？</string>
	<string>世界末日，你会幸存，并且你可以救一个人，你会怎么做？</string>
	<string>如果让你选择做一个电影中的角色，你会选谁呢？</string>
	<string>你在乎别人看你的眼光吗？会为了众人的反对放弃自己想要的东西或人吗？</string>
	<string>你的爱人要出国，你会怎么做？</string>
	<string>在你心中谁最可信？</string>
	<string>你希望谁得到幸福？</string>
	<string>你会选择你爱的人还是爱你的人？</string>
	<string>现在你最喜欢的人是谁？</string>
	<string>你有恨过谁吗？</string>
	<string>远距离恋爱是否注定要分开？那么如果喜欢上一个遥远国度的人，你是否会选择跟他走？</string>
	<string>如果有一天自己觉得自己的某一次选择是错的，可是现在已经再也无法重新来，那该怎么办？</string>
	<string>对你而言，爱情和友情哪个比较重要？</string>
	<string>如果能预知未来，你最不希望看见的是什么？</string>
	<string>如果有一天我和你吵架，你会怎么办？</string>
	<string>我和你恋人同时约你，你会陪谁？</string>
	<string>世上真的有真爱吗？你眼中的真爱是什么样的？</string>
	<string>你认为多交朋友的好处在哪里？</string>
	<string>哭得最伤心的是哪一次？为什么？</string>
	<string>情人节最想收到什么礼物？</string>
	<string>最珍爱的人是你右手的哪一个手指？</string>
	<string>喜欢看什么动画片？</string>
	<string>你最不开心的时候会有什么表现？</string>
	<string>在爱情和面包中，你会选择哪个？为什么？</string>
	<string>最想感谢的人是谁？</string>
	<string>想过自己以后是干什么的吗？你的理想职业是什么？</string>
	<string>你觉得最美的画面是什么？</string>
	<string>如果跟你喜欢的人约会，碰到前任的男（女）朋友，会有什么表现？</string>
	<string>到目前为止你做过最疯狂的事是？</string>
	<string>如果有一天我对你说我爱上你了，你怎么办？</string>
	<string>在你眼里，我是个怎样的人？</string>
	<string>说一说你做过的最丢人的事?</string>
	<string>说说你对我的真实评价?</string>
	<string>说说你最害怕的事情或东西是什么?</string>
	<string>说说你做过最糗的事什么?</string>
	<string>高中时代你看哪位老师最不顺眼?为什么？</string>
	<string>用四个字来形容你现在的生活状态？</string>
	<string>你有什么小癖好?</string>
	<string>你觉得自己最郁闷的外号是什么?</string>
	<string>最让自己感动的一件事是什么?</string>
	<string>哭的最伤心的是哪一次?为什么?</string>
	<string>和男女朋友进展到哪一步了?</string>
	<string>你的初吻是几岁在什么地方被什么人夺去的?</string>
	<string>你的初恋是几岁?</string>
	<string>你的初恋对象是谁?</string>
	<string>大学一共挂过几门课？</string>
	<string>大学所有考试中，你考到最低的一门是什么课，考了几分？</string>
	<string>你吻过几个人？</string>
	<string>在现场所有同学中，你看哪位异性同学最舒服？</string>
	<string>如果再给你一次机会，回到高中毕业那天，你最想对某一位异性说什么话？</string>
	<string>第一个喜欢的异性叫什么名字？</string>
	<string>年让你觉得最伤心的事情是什么？</string>
	<string>今天穿什么颜色的内裤？</string>
	<string>对梦中情人有什么要求（在一分钟内说出五条）。</string>
	<string>让你一直念念不忘的一位异性的名字？原因？</string>
	<string>谈过几次恋爱？</string>
	<string>每天睡觉前都会想起的人是谁？</string>
	<string>你最怕的事情或东西是什么（说出三件）。</string>
	<string>你会不会在意ta的过去，为什么？</string>
	<string>打算什么时候结婚？</string>
	<string>现在心里最在意的异性叫什么名字？</string>
	<string>你通常用那只指头挖鼻子？</string>
	<string>第一次爱的人对你有什么影响？</string>
	<string>你在意你的老婆（老公）不是处女（处男）吗？</string>
	<string>你会为了爱情牺牲一切，包括生命吗？</string>
	<string>结婚后希望生男孩还是女孩(只能选择一个，说出原因)。</string>
	<string>你作弊使用过的最高招？</string>
	<string>如果明天是世界末日，你现在最想做的是什么？</string>
	<string>如果让你从现场找一位gg/mm的话，你会选择谁？给出三个理由。</string>
	<string>如果让你kiss现场的某一位异性，你会选择谁，为什么？</string>
	<string>说出同寝室的人最让你受不了的习惯？</string>
	<string>最欣赏自己哪个部位？对自己那个部位最不满意？</string>
	<string>最喜欢的歌是什么？</string>
	<string>如果你中了彩票五百万你的第一反应是什么呢？</string>
	<string>你曾经考试最低的一门课是哪门？是几分?</string>
	<string>现在或曾经每天睡觉前都会想起的人是谁？名字是什么呢？</string>
	<string>你最怕的事情或东西是什么？</string>
	<string>你作弊使用过的最高招是什么？</string>
	<string>年龄？</string>
	<string>日本和韩国的女人，你希望哪个做你老婆？</string>
	<string>捡了一个亿，放在哪里？</string>
	<string>小时候调皮，导致最严重的一次后果是什么？</string>
	<string>你最想养什么宠物？</string>
	<string>最最最喜欢的卡通人物是什么？</string>
	<string>说一件自己干过最傻的事是什么？</string>
	<string>朋友对你说过让你最感动的一句话是什么？</string>
	<string>如果可以选择性失忆，你会选择忘记谁？</string>
	<string>见过最浪漫的事？</string>
	<string>你最想去的地方是哪？</string>
	<string>最重要的东西？</string>
	<string>觉得最经典的一句话？</string>
	<string>见过最奇葩的东西是什么？</string>
	<string>如果情敌掉水里了，你会怎么样？</string>
	<string>每天之间最常做的是什么？</string>
	<string>你们从什么时候开始学会上网的？</string>
	<string>第一次去网吧干什么？</string>
	<string>初恋是在什么时候？和谁？</string>
	<string>第一次的QQ网名还记得么？叫什么？</string>
	<string>捡到钱最多的一次是多少？</string>
	<string>手里拿过最多钱的一次 是多少？</string>
	<string>被骗钱的经历？</string>
	<string>目前是单身还是名花有主？</string>
	<string>信星座么？</string>
	<string>第一个手机是什么样子的？</string>
	<string>最喜欢的歌手？</string>
	<string>有多少人追你？</string>
	<string>你最希望她（他）送你什么礼物？</string>
	<string>你认为你的男神或女神，是谁？</string>
	<string>你喜欢上了一个人，你会用什么去表示你对他（她）的爱？</string>
	<string>自己生气的时候，会做什么？</string>
	<string>你最难忘的一个人是谁？</string>
	<string>你去过异性的厕所吗？</string>
	<string>你印象最深的电影？</string>
	<string>曾经暗恋过的人名字？</string>
	<string>你的口头禅是什么？</string>
	<string>给你个机会穿越，想穿越到哪儿？</string>
	<string>什么原因会让你一天都躲在房间里？</string>
	<string>写情书给他（她）的时候，第一句话是什么？</string>
	<string>上一次哭是什么时候？为什么？</string>
	<string>你认为，自己喝醉时，嘴里喊的会是谁？</string>
	<string>如果给你一次机会，改名字，你会改什么？</string>
	<string>异性对你撒谎的最多的一句是什么？</string>
	<string>允许你放肆一次，你最想做什么？?</string>
	<string>给你一个月的假期，你会干什么？</string>
	<string>假如外星人攻击地球，美国有超人，日本有奥特曼，咱们有什么？</string>
	<string>怎么样才称得上是好男人（女人）？</string>
	<string>你爱喝的饮料是什么？</string>
	<string>谈过几次恋爱？</string>
	<string>小时候拆过最大的东西是什么？</string>
	<string>自己本年度的最大野心？</string>
	<string>若被驱逐出境，想去那个国家？</string>
	<string>最后悔的事情是什么？</string>
	<string>干什么事儿最过瘾？</string>
	<string>跟网友见过面吗？</string>
	<string>相信男女之间有纯洁的友谊么？</string>
	<string>最近总是做的事或是最常上的网站？</string>
	<string>面对无理的客户是冲他发火还是忍气吞声？</string>
	<string>自己最耍贱的事情？</string>
	<string>如果办公室只有你一个人 你的感想是？</string>
	<string>上班的时候经常想睡觉吗？</string>
	<string>理想的寿命，是活到多少岁？</string>
	<string>最多喝过多少酒 ？</string>
	<string>十年这首歌能否让你想起点什么？</string>
	<string>相信爱情么？</string>
	<string>和异性一起做过最疯狂的事情是什么?</string>
	<string>做过最缺德的事是什么？</string>
	<string>买过一件最贵的衣服多少钱？</string>
	<string>现在除了银子 你最缺什么？</string>
	<string>最恶心什么样的人？</string>
	<string>做过最离奇的梦？</string>
	<string>在异地，不错的异性,说要和你一夜情,你会吗？</string>
	<string>辞过几次职？</string>
	<string>能不能接受同性恋发生在自己身上？</string>
	<string>如果让你成为电影里的角色，你会选谁？</string>
	<string>如果让你有种超能力，你选择什么？</string>
	<string>把你手机里第五条短信给念出来？</string>
	<string>手机通话记录，第三个人的姓名，什么关系？</string>
	<string>上一个TA，让你最不能忍受的是什么？</string>
	<string>你心底最不自信的是什么方面？</string>
	<string>遇见过灵异事件吗？</string>
	<string>做过最白痴的白日梦是什么？</string>
	<string>除家乡外，最喜欢的城市？</string>
	<string>曾经伤害你最深的一句话？</string>
	<string>最近一件让你开心的事是什么？</string>
	<string>怎么知道那个人喜欢自己？</string>
	<string>你经常幻想的事情是什么？</string>
	<string>你最難忘的一件事是什麽？</string>
	<string>是否喜欢裸睡？</string>
	<string>你有抢过别人的男(女)朋友吗？</string>
	<string>多久没ML了？</string>
	<string>最喜欢什么样子的异性？</string>
	<string>被别人误会了怎么办？</string>
	<string>你做的最内疚的一件事？</string>
	<string>请在现场选一位异性同学，向他或她表白</string>
	<string>站到凳子上表演大猩猩捶胸呐喊动作</string>
	<string>学超级名模走秀，绕桌子一圈</string>
	<string>与本桌或本教室离你最近的一位异性同学拥抱十秒钟。</string>
	<string>找在场的一位异性情歌对唱。（邀请，三次失败罚表演）</string>
	<string>和坐你右边的同学深情对视并对她或他唱《老鼠爱大米》中的高潮部分。</string>
	<string>对在场的一位异性说一分钟情话，不要冷场哦。（邀请）</string>
	<string>给大家唱一首对于你来说有特殊意义的歌（与你心中的人有关），并说出原因。</string>
	<string>右手捏住左耳垂，弯下腰，顺时针转10圈，再金鸡独立15秒不许倒。</string>
	<string>蹲凳子上上做便秘状10秒钟</string>
	<string>冲到门外撕心裂肺的喊&quot;台湾回归啦！台湾回归啦！大家快看中央一台……&quot;（跟真有那么回事似的）</string>
	<string>用异性的声音唱一首大家都比较熟悉的歌</string>
	<string>用舌头舔肘部</string>
	<string>舔鼻子</string>
	<string>右手跨过后脑勺从左边摸右眼</string>
	<string>在规定时间内在现场调查出三个mm的身高体重</string>
	<string>说一句绕口令</string>
	<string>做个鬼脸，要观众满意</string>
	<string>桌子上放一本书(或者其他东西，比如瓶盖)，厚约5cm，长宽约5cm×5cm，前面放一1角硬币，用嘴巴将硬币吹到书上</string>
	<string>让在场的某位异性重温大话西游的经典对白，现场满意为止</string>
	<string>（对在坐的某位异性）请展示自己最性感的动作和最妩媚的动作</string>
	<string>给现场的三位ppmm分别擦嘴、擦鼻涕、擦眼泪</string>
	<string>最喜欢在座哪位异性</string>
	<string>愿意为爱情牺牲到什么程度</string>
	<string>自我感觉身上哪个部位最敏感？为什么</string>
	<string>如果有一天我和你吵架，你会怎么办？</string>
	<string>唱青藏高原最后一句</string>
	<string>与一位异性十指相扣，对视10秒</string>
	<string>吃下左边及右边人为你夹得菜（如果是辣椒……）</string>
	<string>跳草裙舞、脱衣舞（反正是冬天）</string>
	<string>神情的吻墙10秒</string>
	<string>模仿古代特殊职业女子拉客</string>
	<string>模仿脑白金广告，边唱边跳</string>
	<string>让他到街上大喊&quot;卖拖鞋啦～2块一双，买一送3&quot;</string>
	<string>抓着铁门喊&quot;放我出去！&quot;</string>
	<string>正面相隔做接吻陶醉状10秒</string>
	<string>原地转10圈（就近靠下）</string>
	<string>跳肚皮舞</string>
	<string>跳钢管舞</string>
	<string>跳骑马舞</string>
	<string>对外大喊 &quot;我是猪&quot;</string>
	<string>走猫步</string>
	<string>摆3个芙蓉姐姐S形</string>
	<string>和左数第一个异性亲一下</string>
	<string>脱一件衣服持续到结束</string>
	<string>背起右边第一个女生</string>
	<string>做好莱坞kiss</string>
	<string>跪地求婚状：如果我不向你求婚，我会后悔一辈子，因为你是我的惟一。（理察·基尔致朱丽叶·罗伯茨（在电影《逃跑的新娘》中））</string>
	<string>大喊&quot;燃烧吧，小宇宙&quot;</string>
	<string>选一个异性一边捶他的胸一边说：你好讨厌哦</string>
	<string>躺在床上摆pose说饭在锅里，我在床上。</string>
	<string>一人先用嘴吸住一纸牌，另一人用嘴从另一面将纸牌吸住移走</string>
	<string>将异性逼角落，用&quot;调情式&quot;一手撑墙，两人深情对视10秒</string>
	<string>男生单腿下跪，女生伸手，男生亲女生手背</string>
	<string>男生单腿下跪，女生亲男生额头</string>
	<string>和出题目的人喝交杯酒</string>
	<string>十指交扣握住保持一轮</string>
	<string>和主持人对着十指交扣，深情对视，深情朗诵骆宾王的《鹅》</string>
	<string>情景剧：一男一女相遇，男生说：&quot;你好，我姓锄名禾，你呢？&quot;女生说：&quot;我名叫当午。</string>
	<string>站起来,大喊&quot;我是超人,我要回家了&quot;</string>
	<string>让一个女的想办法让某男兴奋起来</string>
	<string>头顶簸箕，手拿笤帚，边跳边唱道：我爱劳动，我爱卫生</string>
	<string>两人面对面作搓澡状，屁股还要一扭一扭的，还要唱&quot;洗刷刷，洗刷刷&quot;</string>
	<string>学水兵月做动作，然后对一个人说:&quot;我要代替月亮惩罚你!!&quot;</string>
	<string>摸自己胸说&quot;唉太小了&quot;</string>
	<string>亲左数第二个异性的额头</string>
	<string>和左边第一个异性换穿上衣</string>
	<string>在厕所里唱歌，让大家都能听到唱的是什么</string>
	<string>左手拉右耳，右手拉左耳，说&quot;我再也不敢了，再也不敢了&quot;</string>
	<string>和右边第二个异性，一个演水兵月，一个演超兽，然后水兵月要把超兽打倒</string>
	<string>穿自己的外套表演张倾城之&quot;我脱、我穿、我再脱、我再穿&quot;</string>
	<string>露出肚皮，扭腰扭屁股，各扭3圈</string>
	<string>和右边第一个异性关在厕所里等一轮游戏</string>
	<string>用手纸当围巾，围脖子</string>
	<string>给10086 打电话所卖卫生巾</string>
	<string>打12580或10000要老婆，要男人，买米线</string>
	<string>背一位异性绕场一周</string>
	<string>做一个大家都满意的鬼脸</string>
	<string>抱一位异性直到下一轮真心话大冒险结束?</string>
	<string>像一位异性表白1分钟?</string>
	<string>与一位异性十指相扣，对视10秒?</string>
	<string>做自己最性感、最妩媚的表情或动作</string>
	<string>吃下每个人为你夹得菜</string>
	<string>神情的吻墙10秒?</string>
	<string>模仿古代特殊职业女子拉客?</string>
	<string>模仿脑白金广告，边唱边跳</string>
	<string>抓着铁门喊“放我出去！”</string>
	<string>原地转10圈</string>
	<string>对外大喊我是猪</string>
	<string>走猫步</string>
	<string>摆1个芙蓉姐姐S形,保持10秒</string>
	<string>选一个男生一边捶他的胸一边说：你好讨厌哦?</string>
	<string>任选两个男生一起摆芙蓉姐姐的S形</string>
	<string>任选一个人，代替你受罚</string>
</array>
</plist>
