<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>人物_保安_保镖</string>
    <string>人物_剩女_御姐</string>
    <string>人物_警察_捕快</string>
    <string>人物_总统_首相</string>
    <string>人物_包青天_狄仁杰</string>
    <string>人物_班主任_辅导员</string>
    <string>人物_皇帝_太子</string>
    <string>人物_元芳_展昭</string>
    <string>人物_军人_警察</string>
    <string>人物_萝莉_御姐</string>
    <string>人物_主持人_广播员</string>
    <string>人物_老佛爷_老天爷</string>
    <string>人物_魔术师_魔法师</string>
    <string>人物_丑小鸭_灰姑娘</string>
    <string>人物_蜘蛛侠_蝙蝠侠</string>
    <string>人物_程序员_设计师</string>
    <string>人物_女神_剩女</string>
    <string>人物_王语嫣_小龙女</string>
    <string>人物_伊丽莎白_蒙娜丽莎</string>
    <string>人物_作家_编剧</string>
    <string>人物_梁山伯与祝英台_罗密欧与朱丽叶</string>
    <string>人物_郭德纲_周立波</string>
    <string>人物_李宗瑞_李天一</string>
    <string>人物_东方不败_天山童姥</string>
    <string>人物_成吉思汗_努尔哈赤</string>
    <string>人物_福尔摩斯_工藤新一</string>
    <string>人物_宫崎骏_宫崎骏</string>
    <string>人物_少女_女王</string>
    <string>人物_艾薇儿_ladygaga</string>
    <string>人物_小黄人_蓝精灵</string>
    <string>人物_男朋友_前男友</string>
    <string>人物_格格_公主</string>
    <string>人物_玛丽莲梦露_奥黛丽赫本</string>
    <string>人物_唐伯虎_韦小宝</string>
    <string>人物_飞行员_宇航员</string>
    <string>人物_容嬷嬷_小燕子</string>
    <string>人物_教授_讲师</string>
    <string>人物_奶奶_外婆</string>
    <string>人物_公务员_小白领</string>
    <string>人物_律师_医师</string>
    <string>人物_卧底_内奸</string>
    <string>人物_状元_冠军</string>
    <string>人物_葫芦娃_小矮人</string>
    <string>日常_气泡_水泡</string>
    <string>日常_台灯_电灯</string>
    <string>日常_水盆_水桶</string>
    <string>日常_唇膏_口红</string>
    <string>日常_麦克风_扩音器</string>
    <string>日常_婚纱_喜服</string>
    <string>日常_纸巾_手帕</string>
    <string>日常_裸婚_闪婚</string>
    <string>日常_公交_地铁</string>
    <string>日常_结婚_订婚</string>
    <string>日常_手机_座机</string>
    <string>日常_枕头_抱枕</string>
    <string>日常_鸭舌帽_遮阳帽</string>
    <string>日常_生活费_零花钱</string>
    <string>日常_洗衣粉_皂角粉</string>
    <string>日常_肥皂_香皂</string>
    <string>日常_铁观音_碧螺春</string>
    <string>日常_沐浴露_沐浴盐</string>
    <string>日常_洗发露_护发素</string>
    <string>日常_自行车_电动车</string>
    <string>日常_近视眼镜_隐形眼镜</string>
    <string>日常_眉毛_胡须</string>
    <string>日常_围巾_围脖</string>
    <string>日常_棉被_毛毯</string>
    <string>日常_打针_输液</string>
    <string>日常_铅笔袋_铅笔盒</string>
    <string>日常_电动车_摩托车</string>
    <string>日常_银行卡_信用卡</string>
    <string>日常_跑车_豪车</string>
    <string>日常_劳斯莱斯_兰博基尼</string>
    <string>日常_宾利_宝马</string>
    <string>日常_非诚勿扰_我们约会吧</string>
    <string>日常_床单_地图</string>
    <string>日常_被子_国旗</string>
    <string>日常_电灯_壁灯</string>
    <string>日常_葵花宝典_辟邪剑谱</string>
    <string>日常_香奈儿_爱马仕</string>
    <string>日常_高跟鞋_内增高</string>
    <string>日常_杭州_苏州</string>
    <string>日常_香港_台湾</string>
    <string>日常_首尔_东京</string>
    <string>日常_广东_广州</string>
    <string>日常_海报_报纸</string>
    <string>日常_照片_胶卷</string>
    <string>日常_会考_高考</string>
    <string>日常_高铁_城际</string>
    <string>日常_飞机_飞碟</string>
    <string>吃货_牛奶_豆浆</string>
    <string>吃货_白菜_生菜</string>
    <string>吃货_辣椒_芥末</string>
    <string>吃货_橙子_橘子</string>
    <string>吃货_葡萄_提子</string>
    <string>吃货_烤肉_涮肉</string>
    <string>吃货_油条_麻花</string>
    <string>吃货_面包_蛋糕</string>
    <string>吃货_牛肉干_猪肉脯</string>
    <string>吃货_泡泡糖_棒棒糖</string>
    <string>吃货_土豆粉_酸辣粉</string>
    <string>吃货_口香糖_木糖醇</string>
    <string>吃货_酸菜鱼_水煮鱼</string>
    <string>吃货_小笼包_灌汤包</string>
    <string>吃货_大白兔_金丝猴</string>
    <string>吃货_果粒橙_鲜橙多</string>
    <string>吃货_鱼香肉丝_四喜丸子</string>
    <string>吃货_麻婆豆腐_皮蛋豆腐</string>
    <string>吃货_红烧牛肉面_香辣牛肉面</string>
    <string>吃货_鸭脖_鸡爪</string>
    <string>吃货_果汁_汽水</string>
    <string>吃货_火锅_涮锅</string>
    <string>吃货_烧烤_烤串</string>
    <string>吃货_红豆_绿豆</string>
    <string>吃货_小葱_蒜苗</string>
    <string>吃货_火锅_烧烤</string>
    <string>吃货_麻辣烫_串串香</string>
    <string>吃货_汉堡包_肉夹馍</string>
    <string>吃货_冰激淋_冰淇淋</string>
    <string>吃货_馒头_花卷</string>
    <string>吃货_大饼_煎饼</string>
    <string>吃货_烤冷面_烤面筋</string>
    <string>吃货_三角饼_豆沙饼</string>
    <string>吃货_酸奶_牛奶</string>
    <string>吃货_皮蛋豆腐_日本豆腐</string>
    <string>吃货_葡萄酒_鸡尾酒</string>
    <string>吃货_西瓜_黄瓜</string>
    <string>吃货_德芙_金帝</string>
    <string>吃货_费列罗_金丝猴</string>
    <string>吃货_铁观音_碧螺春</string>
    <string>吃货_皮蛋_卤蛋</string>
    <string>重口味_太监_人妖</string>
    <string>重口味_小姨子_小舅子</string>
    <string>重口味_杰士邦_杜蕾斯</string>
    <string>重口味_胖子_肥肉</string>
    <string>重口味_diao丝_穷鬼</string>
    <string>重口味_凤姐_芙蓉姐姐</string>
    <string>重口味_AV_女优</string>
    <string>重口味_紫葡萄_黑木耳</string>
    <string>重口味_TMD_NND</string>
    <string>重口味_僵尸_幽灵</string>
    <string>重口味_太平间_墓地</string>
    <string>重口味_黑丝_蕾丝</string>
    <string>重口味_丝袜_裤袜</string>
    <string>重口味_长腿_美腿</string>
    <string>重口味_撸管儿_滚床单</string>
    <string>重口味_避孕套_验孕棒</string>
    <string>重口味_美女_女神</string>
    <string>重口味_富二代_高富帅</string>
    <string>重口味_离婚_失恋</string>
    <string>重口味_一夜情_一见钟情</string>
    <string>重口味_好兄弟_同性恋</string>
    <string>重口味_好基友_异性恋</string>
    <string>重口味_猥琐_卑鄙</string>
    <string>重口味_纸尿裤_尿不湿</string>
    <string>重口味_捡肥皂_被爆菊</string>
    <string>重口味_苍井空_苍井优</string>
    <string>重口味_高富帅_矮穷挫</string>
    <string>重口味_初吻_初夜</string>
    <string>重口味_初恋_初吻</string>
    <string>重口味_卧底_特务</string>
    <string>重口味_黑木耳_矮穷挫</string>
    <string>重口味_绑票_人质</string>
    <string>重口味_知心姐姐_粉红女郎</string>
    <string>重口味_吃软饭_小白脸</string>
    <string>重口味_三角恋_婚外情</string>
    <string>小清新_优雅_美丽</string>
    <string>小清新_萌_呆</string>
    <string>小清新_海豚_河豚</string>
    <string>小清新_海狮_海豹</string>
    <string>小清新_lol_dota</string>
    <string>小清新_加多宝_王老吉</string>
    <string>小清新_机器猫_加菲猫</string>
    <string>小清新_小红帽_蓝精灵</string>
    <string>小清新_雪弗兰_大黄蜂</string>
    <string>小清新_可口_可乐</string>
    <string>小清新_麦当劳_肯德基</string>
    <string>小清新_戴尔_惠普</string>
    <string>小清新_蒙牛_伊利</string>
    <string>小清新_腾讯_新浪</string>
    <string>小清新_扑克牌_塔罗牌</string>
    <string>小清新_小米_iphone</string>
    <string>小清新_麦当劳_必胜客</string>
    <string>小清新_牛奶_奶牛</string>
    <string>小清新_旺仔_伊利</string>
    <string>小清新_哇哈哈_爽歪歪</string>
    <string>小清新_御姐控_萝莉控</string>
    <string>小清新_正太控_萝莉控</string>
    <string>小清新_猛男控_御姐控</string>
    <string>小清新_依恋_眷恋</string>
    <string>小清新_依依不舍_流连忘返</string>
    <string>小清新_八路军_新四军</string>
    <string>小清新_奶糖_奶茶</string>
    <string>小清新_起点小说_百度文库</string>
    <string>小清新_郭敬明_小时代</string>
    <string>小清新_茶艺_棋艺</string>
    <string>小清新_爆竹_烟花</string>
    <string>小清新_许愿灯_许愿树</string>
    <string>小清新_作文_论文</string>
    <string>小清新_壁纸_贴画</string>
    <string>小清新_魔术师_魔法师</string>
    <string>小清新_双胞胎_龙凤胎</string>
    <string>小清新_丑小鸭_灰姑娘</string>
    <string>小清新_情人节_七夕节</string>
    <string>小清新_面膜_面具</string>
    <string>小清新_撒娇_卖萌</string>
    <string>小清新_嘟嘴_卖萌</string>
    <string>小清新_花痴_脑残</string>
    <string>高难度_勇往直前_全力以赴</string>
    <string>高难度_语无伦次_词不达意</string>
    <string>高难度_鼠目寸光_井底之蛙</string>
    <string>高难度_摇摇椅_转转椅</string>
    <string>高难度_地铁_轻轨</string>
    <string>高难度_口_嘴</string>
    <string>高难度_粥_汤</string>
    <string>高难度_呆_萌</string>
    <string>高难度_奶妈_亲娘</string>
    <string>高难度_鸡_鸭</string>
    <string>高难度_快速_迅速</string>
    <string>高难度_红彤彤_红通通</string>
    <string>高难度_软绵绵_蓬松松</string>
    <string>高难度_仙人掌_仙人球</string>
    <string>高难度_复式楼_别墅</string>
    <string>高难度_谁是卧底_抓鬼游戏</string>
    <string>高难度_十面埋伏_四面楚歌</string>
    <string>高难度_忐忑_江南style</string>
    <string>高难度_降龙十八掌_九阴白骨爪</string>
    <string>高难度_一毛不拔_不毛之地</string>
    <string>高难度_小品_话剧</string>
    <string>高难度_吉他_琵琶</string>
    <string>高难度_童话_神话</string>
    <string>高难度_作家_编剧</string>
    <string>高难度_奖牌_金牌</string>
    <string>高难度_蜘蛛侠_蝙蝠侠</string>
    <string>高难度_薰衣草_满天星</string>
    <string>高难度_甄嬛传_红楼梦</string>
    <string>高难度_麻雀_百灵</string>
    <string>高难度_打针_针灸</string>
    <string>高难度_烧烤_夜宵</string>
    <string>高难度_鸭脖子_鸡翅膀</string>
    <string>高难度_劳力士_欧米伽</string>
    <string>高难度_反弹琵琶_乱弹棉花</string>
</array>
</plist>
